
<div class="container color-dark">
  <div class="col">
    <p style="font-size:18px">Created by</p>
  </div>
  <div class="col">
    <p style="font-size:18px">Nikki Xaysanasy</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">I was inspired by someone close to me to do this app. So after long hours of googling, copy &amp; pasting, complaining at the code, and
      procastinating by playing games. I was finally able
      to make a functional to-do liss that works on computers and mobile devices. This is a product of a month long learning of Angular in class
    and following all the online tutorials. </p>
  </div>
  <div class="col">
      <p class="sm">
        <img class="img-fluid" src="../../assets/nikki1.jpg" style="padding-left:30px; margin-top: 25px;">
        <a style = "padding-left: 30px;" href="http://nikkix.me">My Website</a>
      </p>
</div>
